.main__title {
  font: bold 53px/69px pt_serif, arial, helvetica, sans-serif;
  margin: 107px 3px 32px 70px;
}

.main__subtitle {
  font: 18px/21px Roboto, arial, helvetica, sans-serif;
  margin: 0 0 33px 69px;
  width: 350px;
}
.menu {
  display: flex;
  align-items: center;
  margin-right: 386px;
}

.header{
  padding: 22px 151px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px;
}

.logo{
  width: 190px;
  height: 35px;
  background: url('img/logo.svg');
  background-size: 150px;
  background-repeat:no-repeat;
}

.menu__item{
  position: relative;
  margin-right: 24px;
  font: 700 14px/21px Roboto, arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  transition: opacity 0.5s;
}

.menu__item:last-child{
  margin-right: 0;
}

.menu__item_active:after{
  position: absolute;
  display: block;
  content: '';
  left: 0;
  width: 100%;
  height: 3px;
  background: #0056EC;
  opacity: 0;
  transition: opacity 0.5s;
}

.menu__item:hover:after{
  position: absolute;
  display: block;
  content: '';
  left: 0;
  width: 100%;
  height: 3px;
  background: #0056EC;
  opacity: 0;
  transition: opacity 0.5s, width 0.5s;
}

.menu__item:hover{
  opacity: 0.5;
}

.menu__item:hover:after, .menu__item_active:after{
  opacity: 1;
  width: 100%;
}

.main{
  padding: 51px 63% 209px 79px;
  background: top right no-repeat url(img/mainlmg.svg);
  background-position: center right 533px;
  background-size: 617px;
}

.main__title-text_highlight{
  background: #ECF3FF;
}

.main__button{
  display: inline-block;
  font: 14px/16px Roboto, arial, helvetica, sans-serif;
  color: #fff;
  background: #0056EC;
  padding: 15px 28px;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity .5s;
  margin: 0 0 0 68px;
}

.main__button:hover{
  opacity: .5;
}
