.main-content__title {
  font-family: 'Oswald', sans-serif;
  color:green;
}

.main-content__subtitle {
  font-family: 'Lobster', cursive;
}
.menu {
  text-decoration: underline;
}
.main-content__button {
  color:blue;
}
